<a href="https://colab.research.google.com/github/suryamandavilli/Twitter-Sentiment-Analysis/blob/master/Twitter_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas.util.testing as tm
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
train = pd.read_csv('train.csv', sep=',')

In [4]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
train.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          31962 non-null  int64
 1   label       31962 non-null  int64
 2   tweet       31962 non-null  object
 3   word_count  31962 non-null  int64
dtypes: int64(3), object(1)
memory usage: 998.9+ KB

In [9]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))

In [10]:
train.head()

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          21
1   2      0  @user @user thanks for #lyft credit i can't us...          22
2   3      0                                bihday your majesty           5
3   4      0  #model   i love u take with u all the time in ...          17
4   5      0             factsguide: society now    #motivation           8

In [11]:
train['char_count'] = train['tweet'].apply(len)

In [12]:
train.head()

   id  label  ... word_count  char_count
0   1      0  ...         21         102
1   2      0  ...         22         122
2   3      0  ...          5          21
3   4      0  ...         17          86
4   5      0  ...          8          39

[5 rows x 5 columns]

In [13]:
def avg_word(sentence):
  words =sentence.split()
  return(sum(len(word) for word in words)/len(words))

In [14]:
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))

In [15]:
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [24]:
import nltk
from nltk.corpus import stopwords

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
stop = stopwords.words('english')

In [28]:
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop])) #Stopwords in the tweet

In [29]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')])) #Hashtags in the tweets

In [30]:
train.head()

   id  label  ... stopwords  hastags
0   1      0  ...        10        1
1   2      0  ...         5        3
2   3      0  ...         1        0
3   4      0  ...         5        1
4   5      0  ...         1        1

[5 rows x 8 columns]

In [31]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()])) #Numbers in the tweets

In [32]:
train.head()

   id  label  ... hastags  numerics
0   1      0  ...       1         0
1   2      0  ...       3         0
2   3      0  ...       0         0
3   4      0  ...       1         0
4   5      0  ...       1         0

[5 rows x 9 columns]

In [33]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()])) #Uppercase in the tweets

In [34]:
train.head()

   id  label  ... numerics  upper
0   1      0  ...        0      0
1   2      0  ...        0      0
2   3      0  ...        0      0
3   4      0  ...        0      0
4   5      0  ...        0      0

[5 rows x 10 columns]

In [35]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split())) #All are converted to lowercase.

In [36]:
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [37]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')

In [38]:
train['tweet']

0        user when a father is dysfunctional and is so ...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model i love u take with u all the time in urð...
4                        factsguide society now motivation
                               ...
31957                   ate user isz that youuuðððððððððâï
31958    to see nina turner on the airwaves trying to w...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                        thank you user for you follow
Name: tweet, Length: 31962, dtype: object

In [39]:
from nltk.corpus import stopwords

In [40]:
stop = stopwords.words('english')

In [41]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop)) #Removing stopwords

In [42]:
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [43]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]

In [44]:
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [45]:
list(freq.index)

['user', 'love', 'ð', 'day', 'â', 'happy', 'amp', 'im', 'u', 'time']

In [46]:
freq = list(freq.index)

In [47]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq)) # Removing common words

In [48]:
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [49]:
train['tweet']

0        father dysfunctional selfish drags kids dysfun...
1        thanks lyft credit cant use cause dont offer w...
2                                           bihday majesty
3                                  model take urð ðððð ððð
4                            factsguide society motivation
                               ...
31957                             ate isz youuuðððððððððâï
31958    see nina turner airwaves trying wrap mantle ge...
31959      listening sad songs monday morning otw work sad
31960      sikh temple vandalised calgary wso condemns act
31961                                         thank follow
Name: tweet, Length: 31962, dtype: object

In [54]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

col                           1
afl                           1
bikram                        1
makingsharing                 1
oneterm                       1
structures                    1
injustoutbook                 1
ghostasylum                   1
shopstoregypsytribaltrendy    1
verbs                         1
dtype: int64

In [55]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [56]:
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [57]:
from textblob import TextBlob

In [58]:
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct())) # Spell Check

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [60]:
nltk.download('punkt')
TextBlob(train['tweet'][1]).words # Tokenization

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [61]:
from nltk.stem import PorterStemmer # Stemming

In [62]:
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [63]:
from textblob import Word

In [65]:
nltk.download('wordnet')
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [66]:
TextBlob(train['tweet'][0]).ngrams(2) #N-gram Model

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [67]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index() # Term Frequency

In [68]:
tf1.columns = ['words','tf']
tf1

          words  tf
0    wheelchair   1
1           use   1
2         offer   1
3        credit   1
4          lyft   1
5          dont   1
6        thanks   1
7           pdx   1
8   disapointed   1
9    getthanked   1
10          van   1
11         cant   1
12        cause   1

In [69]:
for i,words in enumerate(tf1['words']): # #Inverse Document Frequency
    tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(words)])))
tf1

          words  tf        idf
0    wheelchair   1   9.273691
1           use   1   3.552287
2         offer   1   6.522155
3        credit   1   7.327781
4          lyft   1   8.762865
5          dont   1   3.745585
6        thanks   1   4.597751
7           pdx   1   8.762865
8   disapointed   1  10.372303
9    getthanked   1   9.679156
10          van   1   5.236505
11         cant   1   3.538194
12        cause   1   5.690172

In [70]:
tf1['tfidf'] = tf1['tf']*tf1['idf'] # Term Frequency- Inverse Document Frequency
tf1

          words  tf        idf      tfidf
0    wheelchair   1   9.273691   9.273691
1           use   1   3.552287   3.552287
2         offer   1   6.522155   6.522155
3        credit   1   7.327781   7.327781
4          lyft   1   8.762865   8.762865
5          dont   1   3.745585   3.745585
6        thanks   1   4.597751   4.597751
7           pdx   1   8.762865   8.762865
8   disapointed   1  10.372303  10.372303
9    getthanked   1   9.679156   9.679156
10          van   1   5.236505   5.236505
11         cant   1   3.538194   3.538194
12        cause   1   5.690172   5.690172

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',stop_words='english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['tweet'])

train_vect

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 114041 stored elements in Compressed Sparse Row format>

In [72]:
from sklearn.feature_extraction.text import CountVectorizer # Bag of Words mdel
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = 'word')
train_bow = bow.fit_transform(train['tweet'])
train_bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 128385 stored elements in Compressed Sparse Row format>

In [73]:
#Sentiment Analysis
#sentiment as value near to 1 means positive setiment
#value near to -1 means negative sentiment
train['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (-0.3, 0.5354166666666667)
1                    (0.2, 0.2)
2                    (0.0, 0.0)
3                    (0.0, 0.0)
4                    (0.0, 0.0)
Name: tweet, dtype: object

In [74]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0])
train[['tweet','sentiment']].head()

                                               tweet  sentiment
0  father dysfunctional selfish drag kid dysfunct...       -0.3
1  thanks lyft credit cant use cause dont offer w...        0.2
2                                     bihday majesty        0.0
3                            model take urð ðððð ððð        0.0
4                      factsguide society motivation        0.0